In [21]:
import numpy as np
import pandas as pd

df = pd.read_excel("data/US_fibrosis_stage_dataset.xlsx", engine="openpyxl")
# df = df.loc[(df.AST < 100) | (df.ALT < 100)].reset_index(drop=True)
df_filter = df.loc[:, ["ID", "kPa_mre"]].dropna().reset_index(drop=True)
df = pd.merge(df_filter, df, on="ID", how="left")
df.head()

,ID,kPa_mre_x,name,sex,age,study_date_us,study_date_mre,study_date_fib,kPa_mre_y,kPa_fib,...,HCV_Ab_pos,HCV_RNA_pos,is_chronic_alcohol,Etiology,AST,ALT,PLT,Height,Weight,is_in_month
0,8960,4.34,이윤희,0,74,2020-09-25 10:45:54,2020-09-29 18:54:14,NaT,4.34,NaN,...,0,NaN,NaN,NaN,44.0,49.0,126.0,NaN,NaN,0
1,180635,4.02,이근조,1,76,2019-08-29 10:36:56,2019-04-30 15:11:06,NaT,4.02,NaN,...,0,NaN,NaN,NaN,20.0,10.0,157.0,NaN,NaN,0
2,434009,3.57,윤화숙,0,62,2020-12-22 09:52:10,2020-12-22 00:16:22,NaT,3.57,NaN,...,0,NaN,NaN,NaN,42.0,30.0,272.0,NaN,NaN,0
3,553885,2.22,김동숙,0,60,2019-05-09 10:20:02,2019-05-09 10:43:23,NaT,2.22,NaN,...,NaN,NaN,NaN,1,23.0,19.0,187.0,NaN,NaN,0
4,557257,1.54,강희순,0,68,2018-10-02 08:59:46,2018-10-02 09:44:08,NaT,1.54,NaN,...,NaN,NaN,NaN,1,32.0,21.0,176.0,NaN,NaN,0

In [23]:
df.shape

(714, 24)

In [22]:
from collections import Counter

Counter(df.sex.values)

Counter({0: 355, 1: 359})

In [25]:
for col in [df.age, df.kPa_mre_x, df.AST, df.ALT, df.PLT]:
    mean = np.mean(col).round(2)
    sd = np.std(col).round(2)
    print(str(mean) + "(" + str(sd) + ")")

54.66(12.55)
3.07(1.53)
67.32(158.39)
61.94(174.9)
202.16(72.68)