# Fibroscan

In [1]:
import numpy as np
import pandas as pd
from pycaret.classification import *
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import roc_auc_score, average_precision_score

df = pd.read_csv("data/fibroscan_predict_df.csv")
df.loc[:, "target"] = df.kPa_fib.map(lambda x: 1 if x >= 17 else 0)
df.loc[:, "FIB4"] = df.apply(lambda x: (x["age"] * x["AST"]) / (x['PLT'] * np.sqrt(x['ALT']) + 1e-8), axis=1)
df.loc[:, "APRI"] = df.apply(lambda x: (x["AST"] / 34) * 100 / (x['PLT'] + 1e-8), axis=1)
df = df.drop(["ID", "kPa_fib"], axis=1)

kf = StratifiedKFold(n_splits=5, random_state=42)

clf = setup(data=df, target='target', 
            session_id=42,
            fold_strategy=kf,
            normalize=True,
            fix_imbalance=True,
            remove_outliers = True)
add_metric('auprc', 'AUPRC', average_precision_score, target='pred_proba')

Name                                                             AUPRC
Display Name                                                     AUPRC
Score Function       <function average_precision_score at 0x7f19fb6...
Scorer               make_scorer(average_precision_score, needs_pro...
Target                                                      pred_proba
Args                                                                {}
Greater is Better                                                 True
Multiclass                                                        True
Custom                                                            True
Name: auprc, dtype: object

In [18]:
from pycaret.utils import check_metric

FIB4_auroc_results = []
FIB4_auprc_results = []

APRI_auroc_results = []
APRI_auprc_results = []

X = df.loc[:, ["v1", "v2", "v3", "v4", "v5", "AST", "ALT", "age", "PLT", "FIB4", "APRI"]]
y = df.loc[:, "target"]
for train_index, test_index in kf.split(X, y):
    train_df, test_df = df.loc[train_index], df.loc[test_index]
    test_df = test_df.fillna(0)
    
    clf = setup(data=df, target='target', 
            session_id=42,
            fold=5,
            normalize=True,
            fix_imbalance=True,
            remove_outliers = True)
    add_metric('auprc', 'AUPRC', average_precision_score, target='pred_proba')
    lr = create_model('lr')
    tuned_lr = tune_model(
        lr, optimize='AUC', n_iter=100, 
        search_library='optuna', choose_better=True)
    tuned_lr = finalize_model(tuned_lr)
    
    predict_model(tuned_lr, data=test_df)
    
    FIB4_auroc_score = roc_auc_score(test_df.target, test_df.FIB4).round(4)
    FIB4_auroc_results.append(FIB4_auroc_score)
    
    FIB4_auprc_score = average_precision_score(test_df.target, test_df.FIB4).round(4)
    FIB4_auprc_results.append(FIB4_auprc_score)
    
    APRI_auroc_score = roc_auc_score(test_df.target, test_df.APRI).round(4)
    APRI_auroc_results.append(APRI_auroc_score)
    
    APRI_auprc_score = average_precision_score(test_df.target, test_df.APRI).round(4)
    APRI_auprc_results.append(APRI_auprc_score)
    
results_df = pd.DataFrame({"Measure": ["FIB4", "FIB4", "FIB4", "FIB4", "FIB4", 
                                "APRI", "APRI", "APRI", "APRI", "APRI"], 
                           "AUROC": FIB4_auroc_results + APRI_auroc_results,
                           "AUPRC": FIB4_auprc_results + APRI_auprc_results
                          })

results_df

  Measure   AUROC   AUPRC
0    FIB4  0.7191  0.3492
1    FIB4  0.8378  0.3943
2    FIB4  0.7337  0.4716
3    FIB4  0.9360  0.5804
4    FIB4  0.9261  0.6203
5    APRI  0.7676  0.3257
6    APRI  0.7215  0.2504
7    APRI  0.7579  0.5420
8    APRI  0.8768  0.5569
9    APRI  0.9433  0.6763

In [14]:
results_df.groupby("Measure").mean().round(2)

         AUROC  AUPRC
Measure
APRI      0.81   0.47
FIB4      0.83   0.48

In [15]:
results_df.groupby("Measure").std().round(2)

         AUROC  AUPRC
Measure
APRI      0.09   0.18
FIB4      0.10   0.12

In [12]:
lr = create_model('lr')
tuned_lr = tune_model(
    lr, optimize='AUC', n_iter=100, 
    search_library='optuna', choose_better=True)

In [5]:
dt = create_model('dt')
tuned_dt = tune_model(
    dt, optimize='AUC', n_iter=100, 
    search_library='optuna', choose_better=True)

In [16]:
lightgbm = create_model('lightgbm')
tuned_lightgbm = tune_model(
    lightgbm, optimize='AUC', n_iter=100, 
    search_library='optuna', choose_better=True)

In [16]:
best_model = finalize_model(lightgbm)
save_model(best_model, 'weights/fibroscan_lightgbm_classification')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=[],
                                       ml_usecase='classification',
                                       numerical_features=[], target='target',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numeric_strat...
                  LGBMClassifier(boosting_type='gbdt', class_weight=None,
                                 colsample_bytree=1.0, importance_type='split',
                                 learning_rate=0.1, max_depth=-1,
                                 min_child_samples=20, min_child_weight=0.001,
                                 min_split_gain=0.0, n_estimators=100, n_jobs=-1,
                                 num_leaves=31, objective=None, random_state=42,
                                 reg_alpha=0.0, reg_lambda=0.0, silent='warn',
                                 subsample=1.0, subsample_for_bin=200000,
                                 subsample_freq=0)]],
          verbose=False),
 'weights/fibroscan_lightgbm_classification.pkl')

# MRE

In [18]:
import numpy as np
import pandas as pd
from pycaret.classification import *
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import roc_auc_score, average_precision_score

df = pd.read_csv("data/mre_predict_df.csv")
df.loc[:, "target"] = df.kPa_mre.map(lambda x: 1 if x >= 6 else 0)
df.loc[:, "FIB4"] = df.apply(lambda x: (x["age"] * x["AST"]) / (x['PLT'] * np.sqrt(x['ALT']) + 1e-8), axis=1)
df.loc[:, "APRI"] = df.apply(lambda x: (x["AST"] / 34) * 100 / (x['PLT'] + 1e-8), axis=1)
df = df.drop(["ID", "kPa_mre"], axis=1)

kf = StratifiedKFold(n_splits=5, random_state=42)

clf = setup(data=df, target='target', 
            session_id=42,
            fold_strategy=kf,
            normalize=True,
            fix_imbalance=True,
            remove_outliers = True)
add_metric('auprc', 'AUPRC', average_precision_score, target='pred_proba')

Name                                                             AUPRC
Display Name                                                     AUPRC
Score Function       <function average_precision_score at 0x7f4fd30...
Scorer               make_scorer(average_precision_score, needs_pro...
Target                                                      pred_proba
Args                                                                {}
Greater is Better                                                 True
Multiclass                                                        True
Custom                                                            True
Name: auprc, dtype: object

In [19]:
FIB4_auroc_results = []
FIB4_auprc_results = []

APRI_auroc_results = []
APRI_auprc_results = []

X = df.loc[:, ["v1", "v2", "v3", "v4", "v5", "AST", "ALT", "age", "PLT", "FIB4", "APRI"]]
y = df.loc[:, "target"]
for train_index, test_index in kf.split(X, y):
    train_df, test_df = df.loc[train_index], df.loc[test_index]
    test_df = test_df.fillna(0)
    
    FIB4_auroc_score = roc_auc_score(test_df.target, test_df.FIB4).round(4)
    FIB4_auroc_results.append(FIB4_auroc_score)
    
    FIB4_auprc_score = average_precision_score(test_df.target, test_df.FIB4).round(4)
    FIB4_auprc_results.append(FIB4_auprc_score)
    
    APRI_auroc_score = roc_auc_score(test_df.target, test_df.APRI).round(4)
    APRI_auroc_results.append(APRI_auroc_score)
    
    APRI_auprc_score = average_precision_score(test_df.target, test_df.APRI).round(4)
    APRI_auprc_results.append(APRI_auprc_score)
    
results_df = pd.DataFrame({"Measure": ["FIB4", "FIB4", "FIB4", "FIB4", "FIB4", 
                                "APRI", "APRI", "APRI", "APRI", "APRI"], 
                           "AUROC": FIB4_auroc_results + APRI_auroc_results,
                           "AUPRC": FIB4_auprc_results + APRI_auprc_results
                          })

results_df

  Measure   AUROC   AUPRC
0    FIB4  0.8574  0.4847
1    FIB4  0.8962  0.3804
2    FIB4  0.9534  0.6006
3    FIB4  0.8855  0.3755
4    FIB4  0.7920  0.2665
5    APRI  0.8367  0.4639
6    APRI  0.8872  0.2835
7    APRI  0.8887  0.3840
8    APRI  0.8622  0.3206
9    APRI  0.7836  0.1896

In [20]:
results_df.groupby("Measure").mean().round(2)

         AUROC  AUPRC
Measure
APRI      0.85   0.33
FIB4      0.88   0.42

In [21]:
results_df.groupby("Measure").std().round(2)

         AUROC  AUPRC
Measure
APRI      0.04   0.10
FIB4      0.06   0.13

In [22]:
lr = create_model('lr')
tuned_lr = tune_model(
    lr, optimize='AUC', n_iter=1000, 
    search_library='optuna', choose_better=True)

In [23]:
dt = create_model('dt')
tuned_dt = tune_model(
    dt, optimize='AUC', n_iter=1000, 
    search_library='optuna', choose_better=True)

In [24]:
lightgbm = create_model('lightgbm')
tuned_lightgbm = tune_model(
    lightgbm, optimize='AUC', n_iter=1000, 
    search_library='optuna', choose_better=True)

In [13]:
best_model = finalize_model(lightgbm)
save_model(best_model, 'weights/mre_lightgbm_classification')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=[],
                                       ml_usecase='classification',
                                       numerical_features=[], target='target',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numeric_strat...
                  LGBMClassifier(boosting_type='gbdt', class_weight=None,
                                 colsample_bytree=1.0, importance_type='split',
                                 learning_rate=0.1, max_depth=-1,
                                 min_child_samples=20, min_child_weight=0.001,
                                 min_split_gain=0.0, n_estimators=100, n_jobs=-1,
                                 num_leaves=31, objective=None, random_state=42,
                                 reg_alpha=0.0, reg_lambda=0.0, silent='warn',
                                 subsample=1.0, subsample_for_bin=200000,
                                 subsample_freq=0)]],
          verbose=False),
 'weights/mre_lightgbm_classification.pkl')