# Fibroscan

In [2]:
import pandas as pd
from pycaret.regression import *

df = pd.read_csv("data/fibroscan_predict_df.csv")
df = df.loc[:, ["ID", "kPa_fib", "v1", "v2", "v3", "v4", "v5"]]
df.kPa_fib = df.kPa_fib.map(lambda x: 16 if x > 16 else x)
df.kPa_fib = df.kPa_fib.map(lambda x: 4 if x < 4 else x)
reg = setup(data=df, target='kPa_fib', fold=5, session_id=42)

In [3]:
lr = create_model('lr')
tuned_xgb = tune_model(
    lr, optimize='RMSE', n_iter=100, 
    search_library='optuna', choose_better=True)

In [5]:
dt = create_model('dt')
tuned_dt = tune_model(
    dt, optimize='RMSE', n_iter=100, 
    search_library='optuna', choose_better=True)

In [7]:
lightgbm = create_model('lightgbm')
tuned_lightgbm = tune_model(
    lightgbm, optimize='RMSE', n_iter=100, 
    search_library='optuna', choose_better=True)

# MRE

In [9]:
import pandas as pd
from pycaret.regression import *

df = pd.read_csv("data/mre_predict_df.csv")
df = df.loc[:, ["ID", "kPa_mre", "v1", "v2", "v3", "v4", "v5"]]
df.kPa_mre = df.kPa_mre.map(lambda x: 7 if x > 7 else x)
df.kPa_mre = df.kPa_mre.map(lambda x: 2 if x < 2 else x)
reg = setup(data=df, target='kPa_mre', fold=5, session_id=42)

In [10]:
lr = create_model('lr')
tuned_xgb = tune_model(
    lr, optimize='RMSE', n_iter=100, 
    search_library='optuna', choose_better=True)

In [12]:
dt = create_model('dt')
tuned_dt = tune_model(
    dt, optimize='RMSE', n_iter=100, 
    search_library='optuna', choose_better=True)

In [14]:
lightgbm = create_model('lightgbm')
tuned_lightgbm = tune_model(
    lightgbm, optimize='RMSE', n_iter=100, 
    search_library='optuna', choose_better=True)